*{
    margin: 0px;
    padding: 0px;
    border:0px;
}
header{
    background-color: #76b218;
    position: relative;
    float: left;
    width: 100%
}
.brand-name{
    width: 100px;
    float: left;
    padding: 20px;
}
.nav-links {
    float: right;
    padding: 20px;
}
.nav-links ul{
   margin-right: 30px;
}
.nav-links li {
    display: inline;
    
}
.nav-links li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover{
    color: black;
}